<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Ui\Model\Export\ConvertToCsv" type="LR\CsvExport\Model\Export\ConvertToCsv"/>
    <type name="Magento\CatalogImportExport\Model\Export\Product">
        <plugin name="add_custom_field_to_product_export" type="LR\CsvExport\Plugin\AccesorySku" sortOrder="10"/>
    </type>
</config>